@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* MAIN PAGE */
.nav-items {
  display: flex;
  list-style: none;
  padding: 5px;
}

li {
  margin-right: 20px;
  font-weight: bold;
}

li:nth-child(3) {
  margin-right: 0;
}

.menu-links {
  text-decoration: none;
  color: #2e72a9;
  font-size: 1em;
  transition: color 0.6s, font-size 0.6s, font-weight 0.6s;
}

.menu-links:hover {
  font-weight: bold;
  font-size: 1.25em;
  color: #ec3020;
}

.footer-links {
  text-decoration: none;
  color: #2e72a9;
  font-size: 1em;
}
.footer-links:hover {
  text-decoration: underline;
}

.para {
  margin-bottom: 5%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #2e72a9;
  border-bottom: 2px solid #2e72a9;
}

footer li {
  font-family: "Josefin Slab", serif;
}

.quick-links {
  font-family: "Josefin Slab", serif;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5%;
}

/* REGISTER */
.container {
  display: flex;
  flex-direction: column;
  font-family: "Josefin Slab", serif;
}

#logo {
  width: 20%;
}

#register {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
}

.register-label {
  font-weight: bold;
  font-family: "Josefin Slab", serif;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  color: #1a202c;
  border-bottom: 2px solid #2e72a9;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: #d7d3db;
  border-radius: 5px;
  margin-bottom: 5%;
  margin-top: 1%;
}

.submit-btn {
  padding: 1rem;
  background-color: #ec3020;
  color: #fff;
  border-color: #2e72a9;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

/* TRY IT OUT PAGE */
.meals-image {
  animation: scaleDown 5s infinite;
}

section {
  margin-top: 5%;
  display: flex;
}

.macro-calc-form {
  width: 50%;
  margin-right: 5%;
}

.calc-input {
  display: flex;
  flex-direction: column;
}

.gender-select,
.activity-select {
  margin-bottom: 5px;
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  font-size: 1em;
}

caption {
  font-size: 1.5em;
  font-weight: bold;;
}

table {
  width: 50%;
  margin-left: 5%;
  padding: 5px;
  font-size: 1em;
  font-family: "Josefin Slab", serif;
  font-weight: bold;
}

th {
  border: 2px solid #2e72a9;
  font-weight: bold;
  background-color: #d7d3db;
}

td {
  border: 2px solid #2e72a9;
  text-align: center;
}

@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
